/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.main-picture {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.main-picture img {
  width: 100%;
}

.main-picture 
.main-picture__more-inf {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .main-picture { 
      text-align: center;
  }

}

.main-element {
  display: block;
  width: 400px;
  margin: 0 auto 0;
}

.Todo-section__list,
.Completed-section__list {
  margin: 0;
  padding: 0px;
}

.Add-section__name,
.Todo-section__name,
.Completed-section__name,
.Todo-section__list-point,
.Completed-section__list-point {
  list-style: none;
}

.Add-section__input,
.Todo-section__input,
.Completed-section__input,
.Add-section__button,
.Todo-section__button,
.Completed-section__button{
  outline: none;
}

.Todo-section__checkbox{
  margin:3px 3px 3px 4px;
}

.Add-section__button,
.Todo-section__button,
.Completed-section__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.Todo-section__button:hover,
.Completed-section__button:hover {
  color: #3a3a3a;
}

/* Heading */
.Todo-section__name,
.Completed-section__name,
.Add-section__name {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.Add-section__input-text,
.Todo-section__input-text,
.Completed-section__input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.Add-section__input-text:focus,
.Todo-section__input-text:focus,
.Completed-section__input-text:focus {
  color: #333;
}

/* New Task */
.Add-section__name {
  display: block;
  margin: 0 0 20px;
}

#new-task {
  width: 318px;
}

.Add-section__button:hover {
  color: #0fc57c;
}

/* Task list */
.Todo-section__list-point,
.Completed-section__list-point {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.Todo-section__list-point > *,
.Completed-section__list-point > * {
  vertical-align: middle;
}

.Todo-section__label,
.Completed-section__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 244px;
  display: inline-block;
}

.Completed-section__input-text,
.Completed-section__input-text {
  width: 224px;
}

.Todo-section__button-delete:hover,
.Completed-section__button:hover {
  color: #cf2323;
}

.Todo-section__button-delete img,
.Completed-section__button img{
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.Todo-section__button-delete img:hover,
.Completed-section__button img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks .Completed-section__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.Todo-section__input-text,
.Completed-section__input-text {
  display: none;
}

.Todo-section__list-point_edit-mode .Todo-section__input-text,
.Completed-section__list-point_edit-mode .Completed-section__input-text {
  display: inline-block;
  width: 224px;
}

.Todo-section__list-point_edit-mode .Todo-section__label,
.Completed-section__list-point_edit-mode .Completed-section__label {
  display: none;
}